---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative text-center">
    <h2 class="text-xl font-bold">Anexa Digital</h2>
    <p class="text-md">Your trusted partner for software development and IT consultancy</p>
    <p class="mt-2">
      <strong>Email:</strong> info@anexa.digital
    </p>
    <p>
      <strong>Phone:</strong> +57 (302) 325-0230
    </p>
    <p>
      <strong>Location:</strong> Bogotá, Colombia
    </p>
  </div>
</footer>

